@import '../../index.scss';

@keyframes animlist{
    from{
        opacity: 0;
    }
    to{
      opacity: 1;
    }
}



.leftSidaBar{
margin-top: 1px;
    width: 20%;
    background: $purple;
height: 100vh;

.leftSideBar__content{
    padding-left: 1.4rem;
}

}



