.dinamic .card-content  p {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.calendars{
    display: flex;
    &__blok{
        margin-right: 1rem;
    }
}

.card.horizontal.card__chart{
    padding: 20px;
}


@media(max-width:375px){
    .card.horizontal.card-dinamic{
        overflow-x: scroll;
    }
}


