@import '../../index.scss';


@keyframes animlist{
    from{
        opacity: 0;
        height: 10px;
    }
    to{
        height: 100%;
      opacity: 1;
    }
}
.result{
    margin: 2rem;
}

.leftSideBar__list{
    margin-top: 0%;
    
    .leftSideBar__list-item{
        cursor: pointer;


   
        .leftSideBar__list-open{
          
            overflow: hidden;
            animation: animlist 1s  ease-in-out;
            animation-fill-mode: forwards;
            opacity: 0;
            ul{
                margin-top: 1rem;
                li{
                    // line-height: 2.48;
                  
                    font-size: 12px;
                    position: relative;
                    list-style: none;
                    color: $black;
                  
                }
            }   

        }

      
        h5.arrowOpen{
            &::after {
                transform: rotate(180deg);
            }
        }
        h5{
            margin: 0;
            margin-top: 1.8rem;
            position: relative;
            font-size: 1.095rem;
            font-weight: lighter;
            color: $black;
            &::after {
                cursor: pointer;
                content: "";
                /* В любом случае необходим, даже пустой. Иначе не будет работать */
                
                position: absolute;
             left: 43%;
              top: 40%;
                width: 16px;
                height: 9px;
              
                background: url(../../assets/img/up.svg);
              
                background-size: 16px 9px;
            }
        }
    }
}
.table__names.table-list.redcolor{

    background: rgba(198, 40, 40, 0.24);
}
.table__names.table-list{
    margin-top: 0;
    li{
        color: black;
    }
}
.table__names{
    margin-top: 1.8rem;
    display: flex;
    &-item{
        padding: 1rem;
        border: 1px solid lightgray;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 20%;
        p{
            font-size: 12px;
        }
    }
    &-item.explore{
        width: 40%;
    }

}