@import '../../index.scss';


.analize{
    padding: 2rem;
    padding-top: 0;
}

.card-content.analize__content{
    display: flex;
    justify-content: space-between;
}
// .analize .card-action a{

//         color: $purple !important;
// }
.analize .card-action a:hover{

    color: $green !important;
}
.label.label-success{
    background: $green;
    padding: 5px;
    color: white;
}

.label.label-info{
    background: #ff6d00;
    padding: 5px;
    color: white;
}

@media(max-width:810px){
    .calendars{
        flex-wrap: wrap;
    }

}
@media(max-width:450px){
    .analize{
        padding: 0;
    }
    .card.card-dinamic .card-content{
        padding-left: 5px;
    }
  
}